

mat-header-row{
background-color: blanchedalmond;
}

mat-cell{
    
    background-color: azure;
}

tr {
    display: flex;
}

div.export-container{
    
    margin-left: 30%;
    margin-right: 30%;
}